<h1 class="title">Binding</h1>
<div class="container">
  <div class="flex">
    <div class="izquierda">Izquierda
      <div>
        <h1>Propertiy Binding</h1>
        <app-property></app-property>
      </div>
      <div>
        <h1>Event Binding</h1>
        <app-event></app-event>
      </div>
      <div>
        <h1>Passing and using with event binding</h1>
        <app-event-with-data></app-event-with-data>
      </div>
      <div>
        <h1>Two-way binding</h1>
        <p>Required FormModule in app.module.ts</p>
        <app-twoway></app-twoway>
      </div>
    </div>
    <div class="derecha">
      <div class="green">
        <h1>Padre a hijo</h1>
        <app-input-parent-child></app-input-parent-child>
      </div>
      <div class="rosa">
        <h1>Hijo a padre</h1>
        <app-output-child-parent></app-output-child-parent>
      </div>
    </div>
  </div>
</div>