<h2>Componente Padre crea el objeto lo agrega a un arreglo y pasa la información al hijo</h2>
<form 
class="form" 
(ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="flex">
    <div class="form-group col-md-5">
        <input 
        type="text" 
        class="form-control" 
        ngModel name="nombre" 
        #nombre="ngModel" 
        placeholder="Nombre" >
    </div>
    <div class="form-group col-md-5">
        <input 
        type="text" 
        class="form-control" 
        ngModel name="apellido" 
        #apellido="ngModel" 
        placeholder="Apellido" >
    </div>
</div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Procesar datos desde el padre</button>
        </div>
    </div>
</form>

<h2>Componente hijo recibe cada elemento del arreglo y lo pinta</h2>
<app-child *ngFor="let personaElement of personas; let i = index"
    [persona]="personaElement"
    [indice] = "i"
></app-child>