<h3>Componente Hijo crea el objeto y lo envía al padre</h3>
<form 
class="form-row" 
(ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="flex">
    <div class="form-group col-md-5">
        <input 
        type="text" 
        id="nombre" 
        class="form-control" 
        ngModel name="nombre" 
        required nombre 
        #nombre="ngModel" 
        placeholder="Nombre" >
    </div>
    <div class="form-group col-md-5">
        <input 
        type="text" 
        id="apellido" 
        class="form-control" 
        ngModel name="apellido" 
        required apellido 
        #apellido="ngModel" 
        placeholder="Apellido" >
    </div>
</div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Procesar datos desde el hijo</button>
        </div>
    </div>
</form>